@model E_hurtownia.Models.Products

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Details</h1>

<div>
    <h4>Products</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BasePricePerUnit)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BasePricePerUnit)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ImgFile)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ImgFile)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PdfFile)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PdfFile)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FkUnitNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FkUnitNavigation.IdUnit)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.IdProduct">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
