@{
    ViewData["Title"] = "Users list";
}

<h1>Users list</h1>
<h5>Showing all registered users in database</h5>
<h5>Currently, there are @ViewBag.Users.Count registered accounts</h5>

<table class="table table-hover mt-4">
    <thead>
        <tr>
            <th style="width: 5%">UID</th>
            <th>Username</th>
            <th>Password</th>
            <th style="width: 10%">Group ID</th>
            <th>Group name (CID)</th>
            <th style="width: 35%">Actions</th>
        </tr>
    </thead>

    <tbody>
        @foreach (Users selectedUser in ViewBag.Users) {
            <tr>
                <td>
                    @selectedUser.IdUser
                </td>
                <td>
                    @selectedUser.Login
                </td>
                <td>
                    @selectedUser.Password
                </td>
                <td>
                    @selectedUser.FkGroup
                </td>
                <td>
                    @{
                        List<Groups> groups = ViewBag.Groups;
                        Groups userGroup = groups.Where(group => group.IdGroup == selectedUser.FkGroup).ToList().First();
                    }

                    @userGroup.Name

                    @if (selectedUser.FkGroup == 2) { // Showing Customer ID (CID) if the user is registered in CUSTOMERS table (must be also in Customer group)
                        List<Users> users = ViewBag.Users;
                        Users currentUser = users.Where(user => user.IdUser == selectedUser.IdUser).ToList().First();

                        List<Customers> allCustomers = ViewBag.Customers;
                        List<Customers> customersWithCurrentUserID = allCustomers.Where(customer => customer.FkUser == selectedUser.IdUser).ToList();

                        if (customersWithCurrentUserID.Count == 0) { // Current user is registered in CUSTOMERS table
                            <span><i>(CID null)</i></span>
                        } else if (customersWithCurrentUserID.Count == 1) {
                            <span>(CID @customersWithCurrentUserID.First().IdCustomer)</span>
                        } else {
                            <span class="text-danger"><i>(multiple CIDs)</i></span>
                        }
                    }
                </td>
                <td>
                    <form class="form-inline">
                        @if (selectedUser.Login != ViewBag.COOKIE_LOGGED_USERNAME) {
                            <input class="btn btn-sm btn-danger" type="submit" value="Delete" asp-controller="Admin" asp-action="UsersListAction_DELETE" asp-route-id="@selectedUser.IdUser" />
                        } else {
                            <span class="text-muted" style="font-style: italic">You cannot perform any actions on yourself</span>
                        }

                        @if (selectedUser.FkGroup != 1 && selectedUser.Login != ViewBag.COOKIE_LOGGED_USERNAME) {
                            <input class="btn btn-sm btn-danger ml-2" type="submit" value="Make Admin" asp-controller="Admin" asp-action="UsersListAction_MAKE_ADMIN" asp-route-id="@selectedUser.IdUser" />
                        }

                        @if (selectedUser.FkGroup != 3 && selectedUser.Login != ViewBag.COOKIE_LOGGED_USERNAME) {
                            <input class="btn btn-sm btn-warning ml-2" type="submit" value="Make Storekeeper" asp-controller="Admin" asp-action="UsersListAction_MAKE_STOREKEEPER" asp-route-id="@selectedUser.IdUser" />
                        }

                        @if (selectedUser.FkGroup != 4 && selectedUser.Login != ViewBag.COOKIE_LOGGED_USERNAME) {
                            <input class="btn btn-sm btn-warning ml-2" type="submit" value="Make Offerent" asp-controller="Admin" asp-action="UsersListAction_MAKE_OFFERENT" asp-route-id="@selectedUser.IdUser" />
                        }

                        @if (selectedUser.FkGroup != 2 && selectedUser.Login != ViewBag.COOKIE_LOGGED_USERNAME) {
                            <input class="btn btn-sm btn-success ml-2" type="submit" value="Make Customer" asp-controller="Admin" asp-action="UsersListAction_MAKE_CUSTOMER" asp-route-id="@selectedUser.IdUser" />
                        }
                    </form>
                </td>
            </tr>
        }
    </tbody>
</table>

@section CheckUserLogged {
    @{
        await Html.RenderPartialAsync("~/Views/PartialViews/NavBarUser.cshtml");
    }
}