
@{
    ViewData["Title"] = "Users list";
}

<h1>Users list</h1>
<h5>Showing all registered users in database</h5>
<h5>Currently, there are @ViewBag.Users.Count registered accounts</h5>

<table class="table table-hover mt-4">
    <thead>
        <tr>
            <th style="width: 5%">ID</th>
            <th>Username</th>
            <th>Password</th>
            <th style="width: 10%">Group ID</th>
            <th>Group name</th>
            <th style="width: 35%">Actions</th>
        </tr>
    </thead>

    <tbody>
        @foreach (Users selectedUser in ViewBag.Users) {
            <tr>
                <td>
                    @selectedUser.IdUser
                </td>
                <td>
                    @selectedUser.Login
                </td>
                <td>
                    @selectedUser.Password
                </td>
                <td>
                    @selectedUser.FkGroup
                </td>
                <td>
                    @{
                        List<Groups> groups = ViewBag.Groups;
                        Groups userGroup = groups.Where(group => group.IdGroup == selectedUser.FkGroup).ToList().First();
                    }

                    @userGroup.Name
                </td>
                <td>
                    <form class="form-inline">
                        @if (selectedUser.Login != ViewBag.COOKIE_LOGGED_USERNAME) {
                            <input class="btn btn-sm btn-danger" type="submit" value="Delete" asp-controller="Admin" asp-action="UsersListAction_DELETE" asp-route-id="@selectedUser.IdUser" />
                        } else {
                            <span class="text-muted" style="font-style: italic">You cannot perform any actions on yourself</span>
                        }

                        @if (selectedUser.FkGroup != 1 && selectedUser.Login != ViewBag.COOKIE_LOGGED_USERNAME) {
                            <input class="btn btn-sm btn-danger ml-2" type="submit" value="Make Admin" asp-controller="Admin" asp-action="UsersListAction_MAKE_ADMIN" asp-route-id="@selectedUser.IdUser" />
                        }

                        @if (selectedUser.FkGroup != 3 && selectedUser.Login != ViewBag.COOKIE_LOGGED_USERNAME) {
                            <input class="btn btn-sm btn-warning ml-2" type="submit" value="Make Storekeeper" asp-controller="Admin" asp-action="UsersListAction_MAKE_STOREKEEPER" asp-route-id="@selectedUser.IdUser" />
                        }

                        @if (selectedUser.FkGroup != 4 && selectedUser.Login != ViewBag.COOKIE_LOGGED_USERNAME) {
                            <input class="btn btn-sm btn-warning ml-2" type="submit" value="Make Offerent" asp-controller="Admin" asp-action="UsersListAction_MAKE_OFFERENT" asp-route-id="@selectedUser.IdUser" />
                        }

                        @if (selectedUser.FkGroup != 2 && selectedUser.Login != ViewBag.COOKIE_LOGGED_USERNAME) {
                            <input class="btn btn-sm btn-success ml-2" type="submit" value="Make Customer" asp-controller="Admin" asp-action="UsersListAction_MAKE_CUSTOMER" asp-route-id="@selectedUser.IdUser" />
                        }
                    </form>
                </td>
            </tr>
        }
    </tbody>
</table>

@section CheckUserLogged {
    @if (ViewBag.COOKIE_LOGGED_USERNAME == null) {
        <form method="post" class="form-inline">
            <input type="submit" class="btn btn-primary btn-outline-primary" value="Sign in / Sign up" asp-controller="User" asp-action="Login" />
        </form>
    } else {
        <form method="post" class="form-inline">
            <label class="text-light">Logged in as&nbsp;<label class="text-info border-right">@ViewBag.COOKIE_LOGGED_USERNAME&nbsp;</label></label>&nbsp;
            <a class="text-danger" asp-controller="User" asp-action="Logout">Log out</a>
        </form>
    }
}