<!--
    PARTIAL VIEW - GENERIC ADDRESS FORM

    a) ViewBag.Address - optional parameter (Address object from database - table ADDRESSES)
    b) ViewBag.AddressResult - optional parameter (object with strings, errors on invalid filled form)
-->

<div class="form-group">
    <label>Street</label>

    @if (ViewBag.Address is Addresses && ViewBag.Address != null) {
        <input class="form-control" type="text" value="@ViewBag.Address.Street" name="address-street" />
    } else {
        <input class="form-control" type="text" name="address-street" />
    }

    @if (ViewBag.AddressResult_InvalidStreet != null) {
        <small class="text-danger">Invalid street value, too short or too long</small>
    } else {
        <small>Enter address street, between 5 and 60 characters</small>
    }
</div>

<div class="row">
    <div class="col">
        <div class="form-group">
            <label>Building number</label>

            @if (ViewBag.Address is Addresses && ViewBag.Address != null) {
                <input class="form-control" type="number" value="@ViewBag.Address.BuildingNum" name="address-bnum" />
            } else {
                <input class="form-control" type="number" name="address-bnum" />
            }

            @if (ViewBag.AddressResult_InvalidBuildingNum != null) {
                <small class="text-danger">Invalid building number</small>
            } else {
                <small>Enter address building number</small>
            }
        </div>
    </div>

    <div class="col">
        <div class="form-group">
            <label>Apartment number</label>

            @if (ViewBag.Address is Addresses && ViewBag.Address != null) {
                <input class="form-control" type="number" value="@ViewBag.Address.ApartmentNum" name="address-anum" placeholder="null" />
            } else {
                <input class="form-control" type="number" name="address-anum" placeholder="null" />
            }

            <small>Enter apartment number (optional)</small>
        </div>
    </div>
</div>

<div class="row">
    <div class="col">
        <div class="form-group">
            <label>City</label>

            @if (ViewBag.Address is Addresses && ViewBag.Address != null) {
                <input class="form-control" type="text" value="@ViewBag.Address.City" name="address-city" />
            } else {
                <input class="form-control" type="text" name="address-city" />
            }

            @if (ViewBag.AddressResult_InvalidCity != null) {
                <small class="text-danger">Invalid address city (too long or too short)</small>
            } else {
                <small>Enter address city, between 5 and 30 characters</small>
            }
        </div>
    </div>

    <div class="col-4">
        <div class="form-group">
            <label>Postal code</label>

            @if (ViewBag.Address is Addresses && ViewBag.Address != null) {
                <input class="form-control" type="text" value="@ViewBag.Address.PostalCode" name="address-postal" />
            } else {
                <input class="form-control" type="text" name="address-postal" />
            }

            @if (ViewBag.AddressResult_InvalidPostalCode != null) {
                <small class="text-danger">Invalid address postal code</small>
            } else {
                <small>Postal code (between 5 and 30 characters long)</small>
            }
        </div>
    </div>
</div>

<div class="form-group">
    <label>Country</label>

    @if (ViewBag.Address is Addresses && ViewBag.Address != null) {
        <input class="form-control" type="text" value="@ViewBag.Address.Country" name="address-country" />
    } else {
        <input class="form-control" type="text" name="address-country" />
    }

    @if (ViewBag.AddressResult_InvalidCountry != null) {
        <small class="text-danger">Invalid address country, too long or too short</small>
    } else {
        <small>Enter country name, between 3 and 30 characters</small>
    }
</div>