@{
    @model List<CartElement>
    ViewData["Title"] = "Shopping cart";

    List<Products> productList = ViewBag.Products;
    List<Units> unitList = ViewBag.Units;
    int cartIndex = 0;
}

<h1>Shopping cart</h1>
<h5>Currently, you have @Model.Count items in cart</h5>

<table class="table table-hover table-dark mt-4">
    <thead>
        <tr>
            <th>#</th>
            <th>Product ID</th>
            <th>Product name</th>
            <th>Quantity</th>
            <th>Unit</th>
            <th>Price per unit</th>
            <th>Total price</th>
            <th>Delete</th>
        </tr>
    </thead>
    <tbody>
        @foreach (CartElement element in @Model) {
            Products currentProduct = productList.Where(product => product.IdProduct == element.ProductID).Single();
            <tr>
                <td>@(++cartIndex)</td>
                <td>@element.ProductID</td>
                <td>@currentProduct.Name</td>
                <td>@element.ProductQuantity</td>
                <td>@unitList.Where(unit => unit.IdUnit == currentProduct.FkUnit).Single().Name (@unitList.Where(unit => unit.IdUnit == currentProduct.FkUnit).Single().ShortName)</td>
                <td>@currentProduct.BasePricePerUnit.ToString("F2") €</td>
                <td>@((currentProduct.BasePricePerUnit * element.ProductQuantity).ToString("F2")) €</td>
                <td>
                    <form method="post">
                        <input type="submit" class="btn btn-sm btn-danger" value="Delete item" />
                    </form>
                </td>
            </tr>
        }
    </tbody>
</table>